<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FocusFlow</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <header>
            <h1>Focus Flow</h1>
            <h3>フォーカスフロー</h3>
            <p>学習支援SNS</p>
        </header>
        <div class="main-layout">
            <nav class="sidebar">
                <h3>メニュー</h3>
                <ul>
                    <li>ホーム</li>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{url_for('main.dashboard')}}">ダッシュボード</a></li>
                        <li><a href="{{url_for('main.logout')}}">ログアウト</a></li>
                    {% else %}
                        <li><a href="{{url_for('main.login')}}">ログイン</a></li>
                        <li><a href="{{url_for('main.register')}}">新規登録</a></li>
                    {% endif %}
                </ul>
            </nav>
            <main class="container">
                
            </main>
    </body>
</html>
